@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-grayscale-800 p-4 font-manrope text-white;
}

button {
  @apply rounded-md bg-gradient-to-r from-primary-500 to-primary-700 px-6 py-2 font-semibold text-black hover:opacity-50 disabled:from-grayscale-700 disabled:to-grayscale-700 disabled:text-white disabled:opacity-50;
}

input[type="text"] {
  @apply rounded-md border-2 border-grayscale-700 bg-grayscale-700 px-2 py-1 text-white shadow-lg outline-none  focus:border-primary-500;
}
